<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** MySQL database username */
define( 'DB_USER', 'Wordpress' );

/** MySQL database password */
define( 'DB_PASSWORD', 'bananas' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '}_f[7KfSmhBeU#er^(#6iId0&N=Ke !K.CrsCH.@-5YKL*EFCEJP52O2mQ)e&p#X' );
define( 'SECURE_AUTH_KEY',  'i%ZG383g$C*%gm.&]ix_JB#m-Q|}xfzQfT%b6Isp%10[1xb4`ytv.h6T(`JR=CY>' );
define( 'LOGGED_IN_KEY',    'Y&o3T,q&ZxB1,t4?-+,]uk@8|RtPo),0$zF;r#W?PJ4bf!o9Dr,VnrXcSY]>>5)-' );
define( 'NONCE_KEY',        'UOKC(U.^y5%.~]$e$,}i|qD0A9]c(#!qk?ut0wlBqgq^lCaBkXF;luVx{`O8GiFG' );
define( 'AUTH_SALT',        '5fbM[KdoE7>o`/Dpk3,v+2WYND`=y9chdPr^:JaSV7J(r1Dn!W`d`V]`+.rQx@I`' );
define( 'SECURE_AUTH_SALT', 'FbPB&>$4B]|s!r(6HwOPyGA *bqq./eFy&^R3|uT=u*?2Hyp=,kr%]l]:8_dayi>' );
define( 'LOGGED_IN_SALT',   '-gwzSbw])|(`^AFcN85grI9fz^$jq0rD3[YX/8)~< 2U34j&iVn|+DDCnK-x$>j~' );
define( 'NONCE_SALT',       '~nY(I2Rb).bP#?k?@6YTbe@D9j>xuz_8Le.Q!=0M/0h9?BHVfXi;hijO&vpKsTJ|' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
